<!DOCTYPE HTML>
<html>
<head>
    <title>PDFSERVICE</title>
    <style>
            .body {
                background-color: #c3e7fa;
            }
            .form{
                margin: auto;
                display: inline-block;
                border: 3px solid rgb(144, 207, 55);
                padding: 10px;
            }
            h1{
                text-align: center;
                color:black;
            }
            p{
                font-weight: bold;
                /* color:white; */
                text-align: center;
            }
        </style>  
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            // var u = '{{uuid}}'
            socket.emit('join', {room: '{{uuid}}'})
            socket.on('my response', function(msg) {
                document.getElementById("log").innerHTML = "<p>"+msg.data+"</p>";
                // $('#log').update('<p>' + msg.data + '</p>');
            });
        });
    </script>
</head>
<body class="body">
    <h1>📃 PDFSERVICE 📃</h1>
    <p style="color:black; font-weight: normal;">by Fon & James</p>
    <div style="display:flex; justify-content: center">
        <div style="display: inline-block; border: 3px solid rgb(144, 207, 55); padding:0px 20px 0px 20px">
            <div style="display:flex; justify-content: center;">
                <p style="margin-right: 5px;">Status:</p>
                <div id="log"><p>{{status|safe}}</p></div>
            </div>
        </div>
    </div>
    <div style="text-align: center">
            <img style="padding:10px; width:200px; height:150px" src=https://media.giphy.com/media/yUrUb9fYz6x7a/giphy.gif>
        </div>
    <p style="color:white; font-weight: normal;">gimme A gimme A gimme A</p>
</body>
</html>
